.DS_Store
node_modules
src/bak-csv
src/output-json
src/output-xlsx
src/source-csv

# Log files
*.log

# Generated TypeScript files and build data
tsconfig.tsbuildinfo

# Dist files
dist

# Husky files
.husky
